body{
  background-color: purple;
  padding:0px;
  color:white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: monospace;
}

/* quiz css */ 
.containerQuiz{
  align-items: center;
  text-align: center;
  width: 500px;
  padding:20px;
  margin:10px;
  border-radius: 20px;
  background-color:#EE82EE;
}

/* questions Sections*/
.questionCounter{
  font-weight: 600;
  text-transform: uppercase;
  font-size:20px;
}

.questions p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/* options sections */
.options{
  margin: 10px;
  text-align: center;
}

/* waiting for the class of the options */;

/* buttons groups */
.buttonGroup{
  display:flex;
  cursor:pointer;
  justify-content:space-between;
}
/* styling the buttons that created from the js */  
.selectButton{
  margin:10px;
  padding: 5px 5px;
  font-size: 15px;
  cursor:pointer;
}
.selectButton:hover{
  background-color: blue;
  font-size: 18px;
  color:white;
  font-weight: 600;
}
.selectButton:active{
  background-color: green;
}
